
/*ESTILO DOS ICONES E FONTE DA PAGINA ADMINISTRACAO*/
@import "~bootstrap-icons/font/bootstrap-icons.css";
.opcoes i{
    font-size: 60px;
   
}
.opcoes{
    font-size: 24px;
}
.opcoes a{
    color: #050505;
    text-decoration: none;
}
.opcoes a:hover{
    color: rgb(128, 120, 120);

}
.opcoes:hover{

    border: 5px inset lightslategray;
}
.opcoes{

    border: 5px inset transparent;
}

.enviar a{
    
    text-decoration: none;
    color: #fcfafa;
}
.suprimentos li{
    font-size: 24px;
    text-decoration: none;

}
.cadastro a{
    text-decoration: none;
    color: #fcfafa;

}
#suprimentos li{
   
    text-decoration: none;

}

#navbar-items i{
    font-size: 32px;
}