<br>
<br>
<br>
<br>
<br>
<br>
<div *ngIf="ong">
  <h2>Doação para a ONG: <Span>{{ong.nome}}</Span></h2>
   </div>
  
<div class="row" *ngIf="combos.length > 0; else noCombos ">
  <div class="col-sm-3" *ngFor="let combo of combos">
    <div class="card card-block" >
       <div class="card-block">
        <h4 class="card-title">COMBO : {{combo.id}}</h4>
        <h4 class="card-title">R${{combo.valor}}</h4>
        <p class="card-text">Produto:{{combo.produto1}}</p>
        <p class="card-text">Produto:{{combo.produto2}}</p>
        <p class="card-text">Produto:{{combo.produto3}}</p>
        <p class="card-text">Produto:{{combo.produto4}}</p>
     
        <form >
          <input type="hidden" > 
          <a routerLink="/finaliza/{{ong!.id}}/{{combo.id}}" class="edit-btn">
              <i class="bi bi-pencil-fill">DOAR</i>
          </a>                              
         
      </form>
        <a routerLink="/" class="btn btn-danger">Voltar</a>
        
      </div>
    </div>
  </div>
  
</div>
<ng-template #noCombos>
  <h1>Não há registros no sistema!</h1>
</ng-template>