<br>
<br>
<br>
<br>
<br>
<br>
<div class="row" >

  <div class="col-sm-3" *ngFor="let combo of combos">
    <div class="card card-block">
       <div class="card-block">
        <h4 class="card-title">COMBO : {{combo.id}}</h4>
        <h4 class="card-title">R${{combo.valor}}</h4>
        <p class="card-text">Produto:{{combo.produto1}}</p>
        <p class="card-text">Produto:{{combo.produto2}}</p>
        <p class="card-text">Produto:{{combo.produto3}}</p>
        <p class="card-text">Produto:{{combo.produto4}}</p>
        <button type="submit" name="btn-doar" class="btn btn-primary">DOAR</button>
        <a href="home.php" class="btn btn-danger">Voltar</a>
      </div>
    </div>
  </div>
  
</div>