@import "~bootstrap-icons/font/bootstrap-icons.css";
p{
    text-align: left;
    margin-bottom: 1em;
    font-size: .8em;

}
h2, h5{
    text-align: left;
    margin-bottom: 1em;
    font-size: 1.1em;
}
h2 span{
    color: red;
}
h5 span{
    color: red;
    
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;

}
button i,
a {
    margin-right: 0.2em;
}
.card{
   
    width: 22rem;
}