<br>
<br>
<br>
<br>
<br>

    <div class="card" *ngIf="ong">
        <img src="{{baseApiUrl}}uploads/{{ong.imagem}}" alt="{{ong.nome}}" class="img-fluid">
                        
        <div class="card-body">
          <h5 class="card-title">Doação para: <Span>{{ong.nome}}</Span></h5>
          <h2>Combo: <span>{{combo!.id}}</span></h2>
          <h2>Valor: R$ <span>{{combo!.valor}}</span></h2>
          <p>=>{{combo!.produto1}}</p>
          <p>=>{{combo!.produto3}}</p>  
          <p>=>{{combo!.produto4}}</p>
          <button class="btn btn-danger" (click)="createHandler()">    
            <i class="bi bi-check-square">OK</i>
          </button>
        <p></p>
          <a routerLink="/" class="btn btn-primary">CANCELAR</a>
        </div>
      </div>




