@import "~bootstrap-icons/font/bootstrap-icons.css";

*{
    font-family: 'Lato',sans-serif;
    font-size: 2.em;
    color: gold;
}
.bg-primary-color{
    background-color: #141001;

}
.bg-secondary-color{
    background-color:#bfdddb ;
}
.bg-footer-header-color{
    background-color: #d1d1d1;
}
.bg-light-color{
    background-color: #868482;
}
.primary-color{
    color: #050505;
}
.secondary-color{
    color: #f7f2f2;
}
#navbar{
    border-bottom: 1px solid #7a7a7a;
}
#navbar a:hover{
    color: #7a7a7a;

}
#navbar a.active{
    border-bottom: 1px solid #050505;
}
.navbar-brand{
    display: flex;
}
.navbar-brand img{
    width: 40px;
}
.navbar-brand span{
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 0.5em;
}
#navbar-items .navbar-nav{
    display: flex;
    justify-content: center;
    width: 100%;
}
#navbar-items .nav-item{
    margin: 0 1em;
}
#navbar-items .nav-link{
    color: #050000;
}



/*DESTAQUES*/

#featured-container{
    margin-bottom: 4em;
}

.title{
    font-size: 1.75em;
    margin-bottom: 0.4em;
    position: relative;
}
.title:before{
    width: 75px;
    border-top: 4px solid #7a7a7a;
    content: " ";
    position: absolute;
    bottom: 2em;
}

#featured-images{
    margin-top: 2em;
}

#featured-images .col-md-4{
    position: relative;
    cursor: pointer;
}
#featured-images .col-md-4:hover > .banner-content{
    opacity: 0.8;


}

#featured-images .banner-content{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(247, 239, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.6;
    transition: 0.5s;
}
@media (min-width: 768px){
    .title{
        font-size: 2.4em;
    }
    .title:before{
        bottom: 1.5em;
    }
    #featured-images .banner-content{
        opacity: 0;
    }
}
/*INFO*/
#info-content{
    margin-bottom: 4em ;
    padding: 4em 1em;
}
#info-numbers{
    margin: 1.5em 0;
}
#info-banner{
    display: flex;
    align-items: center;
    margin-bottom: 2.5em;
}
#info-numbers h3{
    font-size: 3em;
}
@media(min-width: 768px){

    #info-content{
        padding: 3.5em;
    }
}
.btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 20%;
    margin: 0 auto;

}
button i,
a {
    margin-right: 0.2em;
}
